@model List10Csharp.Models.Category

<h1>@Model.Name Products</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var article in Model.Articles)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => article.Name)</td>
                <td>
                    <img src="~/@article.ImagePath" alt="Article Image" style="max-width: 100px; max-height: 100px;" />
                </td>
                <td>@Html.DisplayFor(modelItem => article.Price)</td>
            </tr>
        }
    </tbody>
</table>
