.drawingX {
    background-color: bisque;
    align-self: center;
}

#fixed {
    position: fixed;
    right: 0px;
    border: 6px groove;
    border-color: black;
}

#right-sided {
    right: 0px;
    width: 1000;
    height: 200;
}