@{
    ViewData["Title"] = "Canvas";
}
<h1>@ViewData["Title"]</h1>

 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil dicta enim illo iste cum deleniti dolorum? In
    officia quod earum nostrum magnam velit fuga reiciendis aperiam tempora labore consequatur ad tempore qui ipsam quas
    rerum, quisquam incidunt corporis laudantium impedit? Porro, facilis. Eius nesciunt cumque dolor iste asperiores
    perferendis odio maxime magnam exercitationem? Excepturi, ipsa non vel rem dicta sint reiciendis maiores deleniti
    magnam qui totam eaque beatae distinctio eveniet mollitia perferendis aperiam? Earum fugiat fuga eveniet, rem totam
    exercitationem perferendis doloribus illum? Quisquam non vel dolor deserunt tenetur consequatur, temporibus
    cupiditate eaque architecto commodi, error minus accusantium? Optio, consequuntur!
<canvas class="drawingX" , id="right-sided"></canvas>
<br>
<canvas class="drawingX" , id="fixed" , width="500" , height="400"></canvas>
<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi maxime consectetur iusto, vero qui delectus
    facere eaque recusandae sequi, maiores commodi dolor! Iusto iste earum aperiam libero ducimus at eaque voluptatem
    commodi. Reprehenderit sequi vel voluptatibus necessitatibus corporis tempora est consequuntur fugiat sint quae
    corrupti magni eaque aliquam cum deleniti, animi dolores quod asperiores odio quia soluta? Ab vel explicabo iure
    consectetur neque, maiores praesentium, quisquam a fugiat aspernatur ut tenetur hic? Quam quasi nam illum ducimus
    alias vitae id nulla corrupti inventore nemo voluptates dignissimos, deserunt minima fugiat sequi! Reprehenderit
    earum vitae perferendis animi consectetur iusto architecto rem cumque, nulla libero aliquid ut ratione corporis,
    blanditiis dolore quisquam harum. Nulla architecto laboriosam nemo incidunt fuga praesentium, harum vitae laborum
    perspiciatis deleniti dolorem quaerat excepturi obcaecati dolore eligendi ratione maxime quis ipsum deserunt tempore
    odio dicta modi. Velit possimus unde repudiandae saepe quidem pariatur amet. Cum consequatur voluptatum consequuntur
    esse, quaerat quis vero quae consectetur unde ullam autem voluptate adipisci illo tempore placeat, rerum nesciunt
    error eos incidunt! At voluptatibus eaque est cumque dolore, ducimus modi a ratione aut porro! Sed fugiat optio
    laborum non fuga assumenda dolor cum deserunt tempora mollitia sint libero consectetur cumque impedit consequuntur
    amet, quidem temporibus accusantium, maiores debitis ipsum autem. Illum commodi veniam, eius aut tenetur accusamus
    aperiam consequatur rerum iure impedit excepturi est quis! A itaque quibusdam illum iusto impedit architecto nemo
    ipsa dolore, nulla delectus, aspernatur quidem, perspiciatis ex? Repudiandae perspiciatis illo totam incidunt
    obcaecati, vel, explicabo consectetur suscipit accusamus, esse exercitationem consequatur adipisci odio!
    Exercitationem rem cum, quod, ad iure cupiditate, facilis molestias commodi saepe perspiciatis pariatur
    reprehenderit natus quas voluptatum officia magnam? Id laborum impedit itaque numquam hic? Atque facilis alias
    laudantium sunt ipsa sapiente, amet officiis odio minus! Fuga dignissimos at quos quo sint provident voluptatibus
    hic architecto labore cumque beatae blanditiis, illum reiciendis numquam distinctio veniam, quasi dolores ipsa in
    perferendis totam nobis odit esse doloremque. Minus similique modi cum possimus facilis dolore tempore inventore
    nemo quidem! Suscipit beatae autem praesentium vel nesciunt voluptatibus alias non eos, ipsa accusamus aspernatur
    cupiditate commodi iusto ipsam quidem, perferendis consequatur? Soluta dolor odit natus qui earum consequatur
    debitis, itaque inventore maiores, nisi iusto quo nihil reiciendis voluptates deserunt eveniet a, fugit dolorum.
    Eius sequi repellendus, ex esse quo dignissimos optio dolores inventore dolorum sunt fugiat iusto hic nesciunt quis
    voluptates architecto! Reprehenderit ex ducimus soluta, tempora, quidem est, qui rerum hic nobis eligendi distinctio
    alias? Eius voluptatibus iusto, ratione nobis ipsum minima? Rem at iste expedita maiores mollitia illo facere
    consequatur! Sequi nemo, ipsum nisi modi beatae obcaecati minima exercitationem asperiores odit ullam inventore
    natus, sapiente sunt voluptatibus excepturi adipisci? Esse et officiis accusantium, vitae nemo soluta. Expedita modi
    corporis atque possimus, dolore similique laboriosam dolor, quae magnam doloribus velit. Optio explicabo suscipit
    mollitia a ipsum provident itaque, magni eaque, consequuntur veritatis similique accusamus temporibus quam dolorem
    perspiciatis officia saepe unde? Iure, vitae sapiente quos, illum ut, dolorum inventore provident nesciunt
    temporibus expedita rem! Doloremque incidunt dicta iure!
<canvas class="drawingX" , width="1500" , height="800"></canvas>
<br>
<canvas class="drawingX" , width="1500" , height="800"></canvas>
<br>

<script src="~/js/lab5_2.js"></script>
