@model IEnumerable<List10Csharp.Models.Category>

<h1>Shop Categories</h1>

<ul>
    @foreach (var category in Model)
    {
        <li>
            <a asp-action="Products" asp-route-categoryId="@category.Id">@category.Name</a>
        </li>
    }
</ul>
