@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.title = "Game - Set Value";
}

<h2>@ViewBag.title</h2>

<h3>@ViewBag.info</h3>